.container{
    background-color:aquamarine;
    
    
}
.container ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex; 
    }

.container ul li a:hover{
    background-color: bisque;
}

nav ul li {
      margin-right: 150px; 
    }
.container ul li a {
  display: block;
  padding: 14px 20px;
  color:red;
  text-decoration: none;
}
.home,.aboutus,.services{
    width:100%;
    height:1000px;
    background-color: grey;
}
.contactus{
    background-color:aqua;
    color:red;
    text-align: center;
}